In [2]:
# Load in our libraries
import pandas as pd
import numpy as np
import re
import sklearn

import xgboost as xgb
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

import warnings
warnings.filterwarnings('ignore')

# Going to use these 5 base models for the stacking
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, 
                              GradientBoostingClassifier, ExtraTreesClassifier)
from sklearn.svm import SVC

In [3]:
# Load in the train and test datasets
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')

# Store our passenger ID for easy access
Userid = test['User_id']

train.head(3)

FileNotFoundError: File b'../input/train.csv' does not exist

In [15]:
test.head(3)

   User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0  4129537          450       9983          30:5       1.0       20160712
1  6949378         1300       3429          30:5       NaN       20160706
2  2166529         7113       6928        200:20       5.0       20160727

In [17]:
train2.head(20)

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0
5,14336199,18907,0,NaN,NaN,NaN,20160618.0
6,14336199,18907,0,NaN,NaN,NaN,20160618.0
7,14336199,18907,0,NaN,NaN,NaN,20160618.0
8,14336199,18907,0,NaN,NaN,NaN,20160618.0
9,14336199,18907,0,NaN,NaN,NaN,20160618.0
10,14336199,38810,0,NaN,NaN,NaN,20160126.0
11,14336199,38810,0,NaN,NaN,NaN,20160126.0
12,14336199,38810,0,NaN,NaN,NaN,20160126.0
13,14336199,38810,0,NaN,NaN,NaN,20160126.0
14,14336199,18907,0,NaN,NaN,NaN,20160127.0
15,14336199,18907,0,NaN,NaN,NaN,20160127.0
16,14336199,37005,0,NaN,NaN,NaN,20160412.0
17,14336199,14305,0,NaN,NaN,NaN,20160127.0
18,14336199,18907,0,NaN,NaN,NaN,20160618.0
19,10539231,12008,1,NaN,NaN,NaN,20160618.0